<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
  <div class="row">
    <form class="form-horizontal col-sm-offset-4" [formGroup]="orderForm" (ngSubmit)="createOrder(orderForm.value)" *ngIf="products">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Product</label>
          <span [hidden]="product.valid || product.untouched">
          <span [hidden]="!product.hasError('required')" class="text-danger">
            A product is required.
          </span>
        </span>
          <select class="form-control" [formControl]="product">
            <option selected disabled>
              Select a product
            </option>
            <option *ngFor="let singleProduct of products" [value]="[singleProduct.productId]">
              {{ singleProduct.name }}
            </option>
          </select>
        </div>

        <div class="form-group" style="padding: 10px">
          <label class="control-label">Quantity</label>
          <span [hidden]="quantity.valid || quantity.untouched">
          <span [hidden]="!quantity.hasError('required')" class="text-danger">
            A quantity is required.
          </span>
        </span>
          <input class="form-control"  type="number" placeholder="Quantity" [formControl]="quantity">
        </div>
        <div class="form-group" style="padding: 10px">
         <span [hidden]="deliveryDate.valid || deliveryDate.untouched">
          <span [hidden]="!deliveryDate.hasError('required')" class="text-danger">
            A delivery date is required.
          </span>
        </span>
          <label class="control-label">Delivery Date</label>
          <input class="form-control"  type="date" [formControl]="deliveryDate">
        </div>
        <div class="col-md-12">
          <div class="form-group" style="padding: 10px">
            <button type="submit" class="btn btn-primary center-block" [disabled]="!orderForm.valid">Create Order</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>