<app-top-navbar></app-top-navbar>
<div class="container">
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Department</th>
      <th>Recipient</th>
      <!--<th>Edit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let disbursedStock of disbursedStocks">
      <td>{{ disbursedStock.disbursedStockId }}</td>
      <td>{{ disbursedStock.productName}}</td>
      <td>{{ disbursedStock.quantity}}</td>
      <td>{{ disbursedStock.departmentName}}</td>
      <td>{{ disbursedStock.recipient}}</td>
      <!--<td><a [routerLink]="['/edit_disburse']" class="btn btn-default btn-xs">Edit</a> </td>-->
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/disburse']" class="btn btn-primary" align="left">Disburse Stock</a>
</div>