<app-top-navbar></app-top-navbar>
<div class="container">
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <!--<th>Delete</th>-->
        <!--<th>Edit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.role}}</td>
        <!--<td><input type="checkbox"></td>-->
        <!--<td><a [routerLink]="['/edit_users']" class="btn btn-default btn-xs">Edit</a> </td>-->
    </tr>
    </tbody>
</table>
    <a [routerLink]="['/admin']" class="btn btn-primary" align="left">Add Users</a>

</div>