<app-top-navbar></app-top-navbar>
<h4 align="center">Edit Returns</h4>
<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Product</label>
          <input class="form-control"  type="text" placeholder="Select Product">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Quantity</label>
          <input class="form-control"  type="number" placeholder="Select Number">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Supplier</label>
          <input class="form-control"  type="text" placeholder="Select Product">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4">
          <label for="focusedInput" class="control-label">Reason For Return</label>
          <textarea class="form-control" rows="3" ></textarea>
          <span class="help-block"></span>
        </div>
        <div class="col-md-4">
          <div class="form-group" style="padding: 10px" >
            <label class="control-label" for="focusedInput">Date</label>
            <input class="form-control"  type="date" placeholder="Select Date">
          </div>
        </div>
      </div>
    </form>
  </div>

  <a [routerLink]="['/return']" class="btn btn-primary" align="left"> Edit Return Stock</a>

