<app-top-navbar></app-top-navbar>
<div class="container">
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>#</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Return Date</th>
    <!--<th>Edit</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let returnedStock of returnedStocks">
    <td>{{ returnedStock.returnedStockId }}</td>
    <td>{{ returnedStock.productName}}</td>
    <td>{{ returnedStock.quantity}}</td>
    <th>{{ returnedStock.returnDate}}</th>
    <!--<td><a [routerLink]="['/edit_returns']" class="btn btn-default btn-xs">Edit</a> </td>-->
  </tr>
  </tbody>
</table>
<a [routerLink]="['/returns']" class="btn btn-primary" align="left">Return Stock</a>
</div>