<nav class="navbar navbar-default" style="margin: 20px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/dashboard']">Inventory</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li *ngIf="role === 'inventory_manager'"><a [routerLink]="['/dashboard']">Orders</a></li>-->
        <li *ngIf="role === 'inventory_manager'"><a [routerLink]="['/products']">Products</a></li>
        <li *ngIf="role === 'inventory_manager'"><a [routerLink]="['/stock']">Stock</a></li>
        <li *ngIf="role === 'inventory_manager'"><a [routerLink]="['/disbursed']">Disburse</a></li>
        <li *ngIf="role === 'admin'"><a [routerLink]="['/list']">Transaction</a></li>
        <li  *ngIf="role === 'inventory_manager'"><a [routerLink]="['/return']">Returns</a></li>
        <li *ngIf="role === 'admin'"><a [routerLink]="['/view']">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text">Logged in as: {{name}} Role: {{role_description}} </p>
        </li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>