<toaster-container></toaster-container>

<h2 class="text-center" style="margin-top: 72px;">Login to University Inventory System </h2>


<div style="margin-top: 100px;">
  <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <fieldset>
      <div class="form-group" style="margin-left: 20%">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-md-4">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" [formControl]="email" required>
        </div>
        <div [hidden]="email.valid || email.untouched">
          <div [hidden]="!email.hasError('required')" class="text-danger">
            Email is required.
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-left: 20%">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-md-4">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" [formControl]="password" required>
        </div>
        <div [hidden]="password.valid || password.untouched">
          <div [hidden]="!password.hasError('required')" class="text-danger">
            The password is required.
          </div>
        </div>
      </div>
      <div class="container" style="margin-left: 40%" >
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </fieldset>
  </form>
</div>
