.login-page {
    background-color: #ffffff!important;
    height: 100vh;
}

.landing-page{
    background-color: #ffffff;
}

.chama-info{
    font-weight: bolder;
}

.login-form{
    /*border-left: #a9a9a9 2px solid;*/
    margin-top: 15%;
    margin-bottom: 25%;
}

.login-btn{
    text-align: right;
    width:100%;
}

.login-btn .btn{
    width: 100%;
}

.welcome-content{
    text-align: center;
    padding-top: 45% !important;
    color: black;
}

.parting-text{
    font-weight: bolder;
}


/*Media Queries*/
@media  (max-width: 991px){
    .landing-page{
        padding-left: 12%;
        padding-right: 12%;
    }

    .welcome-content{
        padding-top: 20px!important;
        font-size: small;
        color: #262626;
        height: auto!important;
        background-image: none!important;
    }
}

