<app-top-navbar></app-top-navbar>
<div class="container">
  <h4 align="center"> Edit User </h4>
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">First Name</label>
          <input class="form-control" type="text" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Second Name</label>
          <input class="form-control" type="text" placeholder="Second Name">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Email</label>
          <input class="form-control" type="email" placeholder="Enter Email">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Password</label>
          <input class="form-control" type="password" placeholder="Enter Password">
        </div>
      </div>
    </form>

  </div>
  <a [routerLink]="['/view']" class="btn btn-primary" align="left">Edit User</a>

</div>
