<app-top-navbar></app-top-navbar>
<h4 align="center">Edit Transaction</h4>
<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Product</label>
          <input class="form-control"  type="text" placeholder="Enter Product">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Quantity</label>
          <input class="form-control"  type="number" placeholder="Quantity">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Price</label>
          <input class="form-control"  type="number" placeholder="Amount in Ksh.">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Supplier Name</label>
          <input class="form-control"  type="text" placeholder="Supplier Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Invoice Name</label>
          <input class="form-control" type="number" placeholder="Enter Invoice Number">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Date</label>
          <input class="form-control" type="date" placeholder="Select Date">
        </div>
      </div>
    </form>

  </div>

  <a [routerLink]="['/list']" class="btn btn-primary" align="left">Edit</a>

