<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="returnForm" *ngIf="stocks" (ngSubmit)="returnStock(returnForm.value)" >
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Select Product</label>
          <span [hidden]="stockId.valid || stockId.untouched">
          <span [hidden]="!stockId.hasError('required')" class="text-danger">
            A product is required.
          </span>
        </span>
          <select class="form-control" [formControl]="stockId">
            <option selected disabled>
              Select a product
            </option>
            <option *ngFor="let stock of stocks" [value]="[stock.stockId]">
              {{ stock.productName }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label">Quantity</label>
          <span [hidden]="quantity.valid || quantity.untouched">
          <span [hidden]="!quantity.hasError('required')" class="text-danger">
            A quantity is required.
          </span>
        </span>
          <input class="form-control"  type="number" placeholder="Quantity" [formControl]="quantity">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
         <span [hidden]="returnDate.valid || returnDate.untouched">
          <span [hidden]="!returnDate.hasError('required')" class="text-danger">
            A return date is required.
          </span>
        </span>
          <label class="control-label">Return Date</label>
          <input class="form-control"  type="date" [formControl]="returnDate">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group" style="padding: 10px">
          <button type="submit" class="btn btn-primary center-block" [disabled]="!returnForm.valid">Return</button>
        </div>
      </div>
    </form>
  </div>
</div>
