<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
  <div class="row">
    <form class="form-horizontal col-sm-offset-4" [formGroup]="expiryForm" (ngSubmit)="updateExpiryDate(expiryForm.value)">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
         <span [hidden]="expiryDate.valid || expiryDate.untouched">
          <span [hidden]="!expiryDate.hasError('required')" class="text-danger">
            An expiry date is required.
          </span>
        </span>
          <label class="control-label">Expiry Date</label>
          <input class="form-control"  type="date" [formControl]="expiryDate">
        </div>
        <div class="col-md-12">
          <div class="form-group" style="padding: 10px">
            <button type="submit" class="btn btn-primary center-block" [disabled]="!expiryForm.valid">Create Order</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>