<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>
<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="productForm" (ngSubmit)="createProduct(productForm.value)">
      <div class="col-md-6">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Name</label>
          <span [hidden]="name.valid || name.untouched">
          <span [hidden]="!name.hasError('required')" class="text-danger">
            Name is required.
          </span>
        </span>
          <input class="form-control"  type="text" placeholder="Product Name" [formControl]="name" *ngIf="suppliers">
        </div>
        <div class="form-group" style="padding: 10px">
          <label class="control-label">Description</label>
          <span [hidden]="description.valid || description.untouched">
          <span [hidden]="!description.hasError('required')" class="text-danger">
            Description is required.
          </span>
        </span>
          <textarea name="" id="" cols="10" rows="1" class="form-control" [formControl]="description">
          </textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Price</label>
          <span [hidden]="price.valid || price.untouched">
          <span [hidden]="!price.hasError('required')" class="text-danger">
            Price is required.
          </span>
        </span>
          <input class="form-control"  type="text" placeholder="Price" [formControl]="price">
        </div>
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Supplier</label>
          <span [hidden]="supplier.valid || supplier.untouched">
          <span [hidden]="!supplier.hasError('required')" class="text-danger">
            A supplier is required.
          </span>
        </span>
          <select class="form-control" [formControl]="supplier">
            <option selected disabled>
              Select a supplier
            </option>

            <option *ngFor="let supplier of suppliers" [value]="[supplier.userId]">
              {{ supplier.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group" style="padding: 10px">
          <button type="submit" class="btn btn-primary center-block" [disabled]="!productForm.valid">Create Product</button>
        </div>
      </div>
    </form>
  </div>
</div>