<app-top-navbar></app-top-navbar>
<h4 align="center"> Edit</h4>
<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Product</label>
          <input class="form-control"  type="text" placeholder="Product Name">
        </div>
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Quantity</label>
          <input class="form-control"  type="number" placeholder="Quantity">
        </div>
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Supplier</label>
          <input class="form-control"  type="text" placeholder="Enter Supplier Email ">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group" style="padding: 10px">
            <label class="control-label" for="focusedInput">Supplier Name</label>
            <input class="form-control"  type="email" placeholder=" Supplier Name ">
          </div>
          <div class="form-group" style="padding: 10px">
            <label class="control-label" for="focusedInput">Date</label>
            <input class="form-control"  type="date" placeholder="Select Date">
          </div>
        </div>
      </div>
    </form>
    <a [routerLink]="['/dashboard']" class="btn btn-primary" align="left">Edit</a>
  </div>