<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
  <h4 align="center"> Add User</h4>
  <form class="form-horizontal" [formGroup]="userForm" *ngIf="roles" (ngSubmit)="createUser(userForm.value)">
    <div class="col-md-6">
      <div class="form-group" style="padding: 10px">
        <label class="control-label">Name</label>
        <span [hidden]="name.valid || name.untouched">
          <span [hidden]="!name.hasError('required')" class="text-danger">
            Name is required.
          </span>
        </span>
        <input class="form-control" type="text" placeholder="Enter Name" [formControl]="name">

      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group" style="padding: 10px" >
        <label class="control-label">Email</label>
        <span [hidden]="email.valid || email.untouched">
          <span [hidden]="!email.hasError('required')" class="text-danger">
            Email is required.
          </span>
        </span>
        <input class="form-control" type="email" placeholder="Enter Email" [formControl]="email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="padding: 10px" >
        <label class="control-label">Role</label>
        <span [hidden]="role.valid || role.untouched">
          <span [hidden]="!role.hasError('required')" class="text-danger">
            Role is required.
          </span>
        </span>
        <select class="form-control" [formControl]="role">
          <option selected disabled>
            Select a role
          </option>

          <option *ngFor="let singleRole of roles" [value]="[singleRole.roleName]">
            {{ singleRole.roleDescription }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="padding: 10px">
        <label class="control-label">Password</label>
        <span [hidden]="password.valid || password.untouched">
        <span [hidden]="!password.hasError('required')" class="text-danger">
          Password is required.
        </span>
        <span [hidden]="!password.hasError('minlength')" class="text-danger">
          Password cannot be shorter than 8 characters.
        </span>
        </span>
        <input class="form-control" type="password" placeholder="Enter Password" [formControl]="password">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group" style="padding: 10px">
        <button type="submit" class="btn btn-primary center-block" [disabled]="!userForm.valid">Create User</button>
      </div>
    </div>

  </form>

</div>
