<app-top-navbar></app-top-navbar>
<h4 align="center"> Edit Disburse</h4>
<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label" for="focusedInput">Product</label>
          <input class="form-control" id="focusedInput" type="text" value="Select Product">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Quantity</label>
          <input class="form-control" id="focusedInput" type="number" value="Select Number">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label" for="focusedInput">Department</label>
          <input class="form-control" id="focusedInput" type="text" value="Department">
        </div>
      </div>
    </form>
  </div>
  <a [routerLink]="['/disburse']" class="btn btn-primary" align="left">Edit Disburse</a>


