<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>#</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Supplier</th>
    <th>Expiry Date</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Books</td>
    <td>400</td>
    <td>Kasuku</td>
    <th>12/23/2017</th>
  </tr>
  <tr>
    <td>2</td>
    <td>Laptops</td>
    <td>30</td>
    <td>Samsung</td>
    <th>12/23/2017</th>

  </tr>
  </tbody>
</table>
