<app-top-navbar></app-top-navbar>
<div class="container" style="margin:20px">
  <table class="table table-striped table-hover " >
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description
      <th>Price</th>
      <th>Supplier</th>
      <th>Creation Date</th>
      <!--<th>Edit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.supplier }}</td>
      <td>{{product.createdAt}}</td>
      <!--<td>-->
        <!--<a [routerLink]="['/edit']" class="btn btn-default btn-xs">-->
          <!--Edit-->
        <!--</a>-->
      <!--</td>-->
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/create_products']" class="btn btn-primary" align="left">Create Products</a>
</div>