<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
<div class="row">
  <form class="form-horizontal" [formGroup]="disburseForm" *ngIf="stocks && departments" (ngSubmit)="disburse(disburseForm.value)">
    <div class="col-md-4">
      <div class="form-group" style="padding: 10px" >
        <label class="control-label">Select Product</label>
        <span [hidden]="stockId.valid || stockId.untouched">
          <span [hidden]="!stockId.hasError('required')" class="text-danger">
            A product is required.
          </span>
        </span>
        <select class="form-control" [formControl]="stockId">
          <option selected disabled>
            Select a product
          </option>
          <option *ngFor="let stock of stocks" [value]="[stock.stockId]">
            {{ stock.productName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" style="padding: 10px" >
        <label class="control-label">Departments</label>
        <span [hidden]="departmentId.valid || departmentId.untouched">
          <span [hidden]="!departmentId.hasError('required')" class="text-danger">
            A Department is required.
          </span>
        </span>
        <select class="form-control" [formControl]="departmentId">
          <option selected disabled>
            Select a department
          </option>
          <option *ngFor="let department of departments" [value]="[department.departmentId]">
            {{ department.departmentName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" style="padding: 10px">
        <label class="control-label">Quantity</label>
        <span [hidden]="quantity.valid || quantity.untouched">
          <span [hidden]="!quantity.hasError('required')" class="text-danger">
            A quantity is required.
          </span>
        </span>
        <input class="form-control"  type="number" placeholder="Quantity" [formControl]="quantity">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" style="padding: 10px">
        <label class="control-label">Recipient</label>
        <span [hidden]="recipient.valid || recipient.untouched">
          <span [hidden]="!recipient.hasError('required')" class="text-danger">
            A recipient is required.
          </span>
        </span>
        <input class="form-control"  type="text" placeholder="Recipient" [formControl]="recipient">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group" style="padding: 10px">
        <button type="submit" class="btn btn-primary center-block" [disabled]="!disburseForm.valid">Disburse</button>
      </div>
    </div>
  </form>
</div>
</div>