<app-top-navbar></app-top-navbar>
<div class="container">
<table class="table table-striped table-hover " >
  <thead>
  <tr>
    <th>#</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Alert Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stock of stocks">
    <td>{{stock.stockId }}</td>
    <td>{{stock.productName}}</td>
    <td>{{stock.quantity}}</td>
    <td>{{stock.alertQuantity}}</td>
    <td *ngIf="stock.alertQuantity >= stock.quantity">
      <button class="btn btn-sm btn-danger">
        Low
      </button>
    </td>
  </tr>
  </tbody>
</table>
</div>
