<app-top-navbar></app-top-navbar>
<div class="container" style="margin:20px">
  <toaster-container></toaster-container>

  <table class="table table-striped table-hover " >
    <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Order Date</th>
      <th>Delivery Date</th>
      <th>
        Expiry Date
        <a >Update</a>
      </th>
      <th>Status</th>
      <th>Stock</th>
      <!--<th>Edit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.orderId}}</td>
      <td>{{order.productName}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.productSupplier}}</td>
      <td>{{order.createdAt}}</td>
      <td>{{order.deliveryDate}}</td>
      <td>{{order.expiryDate}}</td>
      <td>{{order.status}}</td>
      <td>
        <button (click)="stock({orderId : order.orderId, status: 'delivered'})" class="btn btn-info btn-sm" *ngIf="order.status === 'not_delivered'">
          Stock
        </button>
        <button (click)="stock({orderId : order.orderId, status: 'delivered'})" class="btn btn-default btn-sm" *ngIf="order.status === 'delivered'">
          Stocked
        </button>
      </td>
      <!--<td> <a [routerLink]="['/edit']" class="btn btn-default btn-xs">Edit</a></td>-->
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/create_orders']" class="btn btn-primary" align="left">Create Orders</a>
</div>