<app-top-navbar></app-top-navbar>
<div class="container">
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>#</th>
      <th>Order No</th>
      <th>Total Cost</th>
      <th>Invoice Number</th>
      <th>Transaction Date</th>
      <!--<th>Edit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.transactionId }}</td>
      <td>{{ transaction.orderId }}</td>
      <td>{{ transaction.cost }}</td>
      <td>{{ transaction.invoiceNumber}}</td>
      <td>{{ transaction.transactionDate}}</td>
      <!--<td><a [routerLink]="['/edit_transaction']" class="btn btn-default btn-xs">Edit</a></td>-->
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/transaction']" class="btn btn-primary" align="left">Add Transaction</a>
</div>