<app-top-navbar></app-top-navbar>
<toaster-container></toaster-container>

<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="transactionForm" (ngSubmit)="createTransaction(transactionForm.value)" *ngIf="orders">
      <div class="col-md-4">
        <div class="form-group" style="padding: 10px" >
          <label class="control-label">Order No</label>
          <span [hidden]="orderId.valid || orderId  .untouched">
          <span [hidden]="!orderId.hasError('required')" class="text-danger">
            Order No is required.
          </span>
        </span>
          <select class="form-control" [formControl]="orderId">
            <option selected disabled>
              Select an order No
            </option>

            <option *ngFor="let order of orders" [value]="[order.orderId]">
              {{ order.orderId }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label">Cost</label>
          <span [hidden]="cost.valid || cost.untouched">
          <span [hidden]="!cost.hasError('required')" class="text-danger">
            Cost is required.
          </span>
        </span>
          <input class="form-control"  type="number" placeholder="Cost" [formControl]="cost">
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label">Invoice No</label>
          <span [hidden]="invoiceNumber.valid || invoiceNumber.untouched">
          <span [hidden]="!invoiceNumber.hasError('required')" class="text-danger">
            Invoice No is required.
          </span>
        </span>
          <input class="form-control"  type="text" placeholder="Invoice No" [formControl]="invoiceNumber">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" style="padding: 10px">
          <label class="control-label">Transaction Date</label>
          <span [hidden]="transactionDate.valid || transactionDate.untouched">
          <span [hidden]="!transactionDate.hasError('required')" class="text-danger">
            Transaction Date is required.
          </span>
        </span>
          <input class="form-control"  type="date"  [formControl]="transactionDate">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group" style="padding: 10px">
          <button type="submit" class="btn btn-primary center-block" [disabled]="!transactionForm.valid">Create Transaction</button>
        </div>
      </div>

    </form>
  </div>
</div>